<div class="container">
  <div class="row justify-content-between  mt-3 mb-2"><!--"row justify-content-between"で両端に配置-->
   <div class="col-4 mt-3 mb-3">
     <h5>ショッピングカート</h5>
   </div>
   <div class="col-2">
     <%= link_to "カートを空にする", cart_item_cart_items_destroy_all_path(@cart_items), method: :delete,class: "btn btn-danger", data: {confirm: "本当に空にしますか"} %>
   </div>
  </div>
  
  <div class="row">
   <div class="col-md-12">
     <!--<table width="100%">のタグでwidthを100%にし、画面幅いっぱいに表示する-->
<table border="1", style="border-collapse: collapse" cellPadding="10", width="100%">
  <thead>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
    <th>　</th>
    
  </thead>
  
  <% @cart_items.each do |cart_item| %>
  <%= form_with model: cart_item, url: cart_item_path(cart_item), method: :patch do |f| %>
  <tbody>
    <td><%= image_tag cart_item.item.get_image(50, 50)%><%= cart_item.item.name %></td>
    <td><%= cart_item.item.add_tax_price.to_s(:delimited) %></td>

    <td>
        <%= f.hidden_field :item_id, :value => cart_item.item.id %><!--itemsのshowのように@itemにidを入れる形ではなく、cart_itemモデルからitemモデルに飛んでidを渡す-->
        <%= f.select :amount, *[1..10] %>
        <%= f.submit "変更", class: "btn btn-success"%>
      <% end %>
    </td>
    <td><%= cart_item.total_price.to_s(:delimited) %></td> <!--cart_itemモデルの小計を求めるメソッドを呼び出す-->
    <% @total += cart_item.total_price %><!--カート内の全商品を表示-->
    <td><%= link_to "削除する", cart_item_path(cart_item), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger"%></td>
  </tbody>
  <% end %>
</table>
    

  </div>
 </div>
 
 <div class="row justify-content-between mt-5">
   <div class="col-4 offset-1"><%= link_to "買い物を続ける", root_path, class: "btn btn-primary"%></div>
 <div class="col-4">
   <table border="1", style="border-collapse: collapse" cellPadding="10">
     <td>合計金額</td>
     <td><%= @total.to_s(:delimited) %></td>
   </table>
 </div>
</div>

<div class="row text-center mt-5 mb-10">
  <div class="col">
    <%= link_to "注文情報入力に進む", "#_path", class: "btn btn-success"%>
  </div>
</div>
</div>