<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <nav class="navbar navbar-expand-lg justify-content-between navbar-light bg-light">
      <!--navbarでナビゲーションバーの表示を宣言, expandでサイズ指定, 次で背景色の種類と色を指定-->
          <% if admin_signed_in? %>
          <ul class="navbar-nav">
            <%= link_to "LOGO", admin_path, class: "navbar-brand btn btn-outline-secondary pl-5 pr-5" %>
          </ul>
        <div>
          <ul class="navbar-nav ml-auto"><!--ml-autoで右寄せ-->
              <li><%= link_to "商品一覧", admin_items_path, class: "btn btn-outline-secondary mt-3 mr-4 mb-5" %></li>
            <!--btn-outlineで枠線を残してボタンの背景色を透過-->
              <li><%= link_to "会員一覧", admin_customers_path, class: "btn btn-outline-secondary mt-3 mr-4" %></li>
              <li><%= link_to "注文履歴一覧", admin_path, class: "btn btn-outline-secondary mt-3 mr-4" %></li>
              <li><%= link_to "ジャンル一覧", admin_genres_path, class: "btn btn-outline-secondary mt-3 mr-4" %></li>
              <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-secondary mt-3 mr-4" %></li>
          </ul>
           <div class="display flex ml-auto"
            <%= form_with url: admin_items_path, method: :get, local: true do |f| %>
             <%= f.text_field :search %>
             <%= f.submit 'Search', name: nil %>
            <% end %>
          </div>
          <% elsif customer_signed_in? %>
          
            <ul class="navbar-nav">
              <%= link_to "LOGO", root_path, class: "navbar-brand btn btn-outline-secondary pl-5 pr-5" %>
            </ul>
            <ul class="navbar-nav ml-auto">
              <li><%= link_to "マイページ", customers_my_page_path, class: "btn btn-outline-secondary mt-3 mr-5 mb-5" %></li>
              <li><%= link_to "商品一覧", items_path, class: "btn btn-outline-secondary mt-3 mr-5" %></li>
              <li><%= link_to "カート", cart_items_path, class: "btn btn-outline-secondary mt-3 mr-5" %></li>
              <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-outline-secondary mt-3 mr-4" %></li>
            </ul>
          <% else %>
            <ul class="navbar-nav">
              <%= link_to "LOGO", root_path, class: "navbar-brand btn btn-outline-secondary pl-5 pr-5" %>
            </ul>
            <ul class="navbar-nav ml-auto">
              <li><%= link_to "商品一覧", items_path, class: "btn btn-outline-secondary mt-3 mr-5 mb-5" %></li>
              <li><%= link_to "新規登録", new_customer_registration_path, class: "btn btn-outline-secondary mt-3 mr-5" %></li>
              <li><%= link_to "ログイン", new_customer_session_path, class: "btn btn-outline-secondary mt-3 mr-4" %></li>
            </ul>
          <% end %>
          
  </header>
  
  <body>
    <%= yield %>
  </body>
  
  </html>
